doctype html
head
  link(rel='Stylesheet' href='css/dw-PoszukiwanieKlienta.css')
.header
  .head1
    img.logo(src='images/LOGO.jpg' alt='Logo')
  .head2 Samochodzik
  .head3
    ul.headButtons
      li
        a.hbuttons(href='/samochody') Samochody
      li
        a.hbuttons(href='/klienci') Klienci
      li
        a.hbuttons(href='/wypozyczenie') Wypoźyczenie
  .head4
    a.wyloguj(href='#wyloguj') Wyloguj
.navigation
  a.nav(href='/') Strona Główna
  a.nav(href='/klienci') Klienci
  a.nav(href='/wypozyczenie') Wypożyczenie
.main
  .mn2
    br
    p.klienci  Wyszukaj klienta
    br
  .mn3
    form(method='POST' action='/szukanieKlienta' id='my-form')
      .row
        .col-25
          label(for='szukany') Wprowadź imię, nazwisko lub numer dowodu
        .col-75
          input#fname.input(type='text' required='' name='szukany' placeholder='Wyszukaj...')
          p.form__help-message
          br
          input(type='submit' id='btnSzukajKlienta' value='Szukaj klienta')
    br
    .row
      // <input id="dalej" type="submit" class="btn" onclick="idz" value="Dalej">
      //a.btn(href='/dokonanieWypozyczenia') Dalej
    // <script> function idz() {location.href = "dokonanieWypozyczenia.html";} </script>
  .mn5
.footer
  .foot1
    a.foot(href='#oNas') O nas
    a.foot(href='#kontakt') Kontakt
    a.foot(href='#pprywatnosci') Polityka Przywatności
    a.foot(href='#regulamin') Regulamin
    a.foot(href='#faq') FAQ
script(src='validation/dodawanieWypozyczeniaKlient.js')
script.
