doctype html
head
  link(rel='Stylesheet' href='css/main.css')
  meta(charset='utf-8')
.header
  .head1
    img.logo(src='images/LOGO.jpg' alt='Logo')
  .head2 Samochodzik
  .head3
    ul.headButtons
      li
        a.hbuttons(href='/samochody') Samochody
      li
        a.hbuttons(href='/klienci') Klienci
      li
        a.hbuttons(href='/wypozyczenie') Wypożyczenie
  .head4
    p.infolinia Infolinia
    a.logowanie(href='logowanie-rejestracja.html') Logowanie
    a.rejectracja(href='logowanie-rejestracja.html') Rejestracja
.navigation
  a.nav(href='/') Strona Główna
.main
  .mn1
    img.malySamochod(src='images/maly-samochod.jpg' alt='Maly Samohód')
  .mn2
    a.msam(href='#malySamochod') Mały samochód
  .mn3
  .mn3
    p.opis
      br
      | Dostępność
      br
      | 60 punktów wynajmu w całej Polsce. 15 przedstawicielstw na lotniskach. Pracujemy 24h na dobę, 7 dni w tygodniu 365 dni w roku.
      br
      br
      | Wybór
      br
      | Posiadamy blisko 2000 samochodów w około 20 klasach. Auta miejskie, komfortowe kombi, limuzyny, suvy, busy, samochody specjalistyczne.
      br
      br
      | Wygoda
      br
      | Zamów auto wprost pod drzwi biura, na parking hotelowy, lotnisko, lub w jakiekolwiek wskazane przez Ciebie miejsce. Oddaj w dowolnym miejscu w Polsce lub w Wilnie
      br
      br
      | Niezawodność
      br
      | Wyłącznie nowe, sprawne technicznie auta podlegające stałej kontroli w autoryzowanych stacjach obsługi.
      br
      br
      | Bezpieczeństwo
      br
      | Nie udostępniamy danych osobowych naszych Klientów innym firmom, zachowujemy dyskrecję w kontaktach prywatnych i biznesowych.
      br
      br
      | Cena
      br
      | Standardy międzynarodowych korporacji w polskiej cenie. Brak opłat przygotowawczych, rabaty dla stałych Klientów oraz za rezerwacje on-line.
  .mn4
    img.kompaktowySamochod(src='images/kompaktowy-samochod.jpg' alt='Kompaktowy Samochód')
  .mn5
    a.ksam(href='#klasaKompakt') Klasa Kompaktowa
  .mn6
    img.sredniSamochod(src='images/samochod-klasy-sredniej.jpg' alt='Samochód kalsy sredniej')
  .mn7
    a.ssam(href='#klasaSrednia') Klasa Średnia
  .mn8
    img.wyzszySamochod(src='images/samochod-kasy-wyzszej.jpg' alt='Samochód kalsy wyzszy')
  .mn9
    a.wsam(href='#klasaWyzsza') Klasa Wyższa
.footer
  .foot1
    a.oNas(href='#oNas') O nas
    a.kontakt(href='#kontakt') Kontakt
    a.pprywatnosci(href='#pprywatnosci') Polityka Przywatności
    a.regulamin(href='#regulamin') Regulamin
    a.faq(href='#faq') FAQ
