doctype html
head
  link(rel='Stylesheet' href='/css/samochody.css')
  script(src='https://kit.fontawesome.com/9650b96366.js' crossorigin='anonymous')
.header
  .head1
    img.logo(src='/images/LOGO.jpg' alt='Logo')
  .head2 Samochodzik
  .head3
    ul.headButtons
      li
        a.hbuttons(href='/samochody') Samochody
      li
        a.hbuttons(href='/klienci') Klienci
      li
        a.hbuttons(href='/wypozyczenie') Wypożyczenie
  .head4
    a.wyloguj(href='#wyloguj') Wyloguj
.navigation
  a.nav(href='/') Strona Główna
  a.nav(href='/samochody') Samochody
.main
  .mn2
    #hideDiv  
    p.samochody  Samochody 
  .mn3
    form(action='')
      table
        tr
          th.kolMarka Marka
          th.kolModel Model
          th.kolNumer Numer rejestracyjny        
          th.kolAkcja Akcja
        each n in samochodList
          tr
            td= n.marka
            td= n.model           
            td= n.numer_rejestracyjny           
            td
                a.btn(href='/edycjaWypozyczenia/'+idWyp+'/'+idKl+'/'+n.id_samochodu) 
                    i.fas.fa-check-circle 