
* {
	background-color: snow;
	box-sizing: border-box;
}

.header {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 10px;
	background-color: SeaGreen;
	padding: 5px;
}

.header > div {
	text-align: left;
	background-color: SeaGreen;
}

.head1 {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	max-width: 350px;
	padding-left: 50px;
}

.logo {
	max-width:230px;
	max-height:100px;
}

.head2 {
	grid-column: 3 / span 4;
	font-family: Segoe Print;
	font-size: 36px;
}
.head3 {
	grid-column: 3 / span 4;
	grid-row: 2;
	background-color: SeaGreen;
}

.headButtons {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	text-decoration: none;
	background-color: SeaGreen;
}

.headButtons li {
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	padding-left: 15px;	
	padding-right: 25px;
	background-color: SeaGreen;
}

ul a {
	background-color: Gainsboro;
	color: black;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

ul a:hover, ul a:active {
	background-color: red;
}


.head4 {
	grid-column: 6 / span 5;
	grid-row: 2;
	background-color: SeaGreen;
	color: white;
}

a.wyloguj {
	background-color: SeaGreen;
	color: white;
	display: inline-block;
	text-align: right;
	margin-left: 150px;
	padding-left: 70px;	
}

.navigation {
	grid-column: 1;
	grid-row: 1;
	display: inline-block;
	grid-template-columns: auto;
	grid-gap: 5px;
	background-color: white;
	margin: 0px;
	padding: 3px;
	color: black;
}
.navigation > div {
	padding: 0px;
	font-size: 15px;
}

.nav {
	text-decoration: none;
	color: black;
	text-align: left;
	margin: 0px;
	padding: 0px 5px 5px 15px;	
}

.main {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 30px;
	background-color: snow;
	padding: 5px 20px;
}

.main > div {
	background-color: snow;
	text-align: center;
	font-size: 30px;
}

.mn1 {
	grid-column: 1 / span 3;
	grid-row: 1 / span 11;
	padding: 20px ;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	max-width: 66.6%;
}

.menuBoczne {
	display: block;
	background-color: SeaGreen;
	color: white;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 3px;
	font-size: 20px;
	padding: 3px;
}

.mn2 {
	grid-column: 3 / span 3;
	grid-row: 2;	
	text-align: left;
}
.klienci {
	font-size: 15px;
	margin: 0;
	padding: 0;
}

.mn3 {
	grid-column: 2 / span 8;
	grid-row: 3 / span 7;	
	margin: 0 auto;
	padding: 0 auto;
	background-color: red;	
	width: 94.5%;
}

.mn31 {
	width: 45%;
	float: left;
	text-align: left;
	background-color:snow;
	display: inline-block;
}

.mn32 {
	width: 45%;
	float: right;
	text-align: left;
	background-color:G;
	display: inline-block;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	display: inline-block;
	margin-left: 10px;
}

input[type=date] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
    display: inline-block;
    margin-top: 4px;
}

label {
	padding: 12px 0px 12px 0px;
	display: inline-block;
	float: left;
	font-size: 15px;
    margin-right: 53px;
}

button[type=button] {
	background-color: Gainsboro;
	color: black;
	padding: 12px 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 15px 10px 15px 10px;
	
}

button[type=button]:hover {
	background-color: gray;
}


.line{
	border-left: 1px solid black;
	height: 620px;
	display:inline-block;
}


.divdate {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.calendar {
	float: left;
	width: 75%;
	margin-top: 6px;
	padding-left: 10px;
	border: none;
}


.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


table, td, th {
	border: 1px solid SeaGreen;
    font-size: 15px;
    text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 10px;
}

th {
	height: 20px;
	padding: 0px;
  	background-color: Gainsboro;
}

.kolMarka {
	width: 30%;
}
.kolModel {
	width: 30%;
}
.kolNumer {
	width: 30%;
}
.kolAkcja {
    width: 10%;
}


.mn4 {
	grid-column: 6;
	grid-row: 10;	
}


.mn5 {
	grid-column: 2 / span 8;
	grid-row: 11;	
	padding: 0;
	margin: 0;
}


.footer {
	float:bottom;
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
	background-color: SeaGreen;
	padding: 5px;
}


.footer > div {
	text-align: left;
	background-color: SeaGreen;
}

.foot1 {
	grid-column: 1;
	grid-row: 1;
	text-decoration: none;
}


.foot {
	text-decoration: none;
	background-color: SeaGreen;
	color: white;
	display: inline-block;
	text-align: left;
	margin: 0 auto;
	padding: 5px 90px 5px 90px;
}

.form__help-message {
	margin: 0;
	font-size: .75rem;
}

.form__help-message {
	color: #F14B5F;
	margin: 0;
	font-size: .85rem;
}

input[type=submit] {
	background-color: #4CAF50;
	color: black;
	padding: 12px 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin: 30px;
}

input[type=submit]:hover {
	background-color: red;
}

a.btn {
	text-decoration:none;
/* 	border: solid 1px; 
    border-radius: 2px;  */
	cursor: pointer;
	color: SeaGreen;
	font-size:28px;
	padding: 0%;
	margin: 0px;
}
a.btn :hover {
	color: black;
	text-decoration:none;
}

#hwbutton{
	font-size: 15px;
	text-decoration: none;
	background-color: Gainsboro;
	color: black;
	padding: 12px 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 15px 0px 15px 0px;
}

#hwbutton:hover{
	background-color: gray;
}