
* {
	background-color: snow;
	box-sizing: border-box;
}

.header {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 10px;
	background-color: SeaGreen;
	padding: 5px;
}

.header > div {
	text-align: left;
	background-color: SeaGreen;
}

.head1 {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
	max-width: 350px;
	padding-left: 50px;
}

.logo {
	max-width:230px;
	max-height:100px;
}

.head2 {
	grid-column: 3 / span 4;
	font-family: Segoe Print;
	font-size: 36px;
}
.head3 {
	grid-column: 3 / span 4;
	grid-row: 2;
	background-color: SeaGreen;
}

.headButtons {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	text-decoration: none;
	background-color: SeaGreen;
}

.headButtons li {
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	padding-left: 15px;	
	padding-right: 25px;
	background-color: SeaGreen;
}

ul a.hbuttons {
	background-color: Gainsboro;
	color: black;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

ul a:hover, ul a:active {
	background-color: red;
}


.head4 {
	grid-column: 6 / span 5;
	grid-row: 2;
	background-color: SeaGreen;
	color: white;
}

.infolinia {
	background-color: SeaGreen;
	color: white;
	display: inline-block;
	text-align: left;
	margin: 0;
	padding-left: 40px;	
}

a.wyloguj {
	background-color: SeaGreen;
	color: white;
	display: inline-block;
	text-align: right;
	margin-left: 150px;
	padding-left: 70px;	
}

.navigation {
	grid-column: 1;
	grid-row: 1;
	display: inline-block;
	grid-template-columns: auto;
	grid-gap: 5px;
	background-color: white;
	margin: 0px;
	padding: 3px;
	color: black;
}
.navigation > div {
	padding: 0px;
	font-size: 15px;
}

.nav {
	text-decoration: none;
	color: black;
	text-align: left;
	margin: 0px;
	padding: 0px 5px 5px 15px;	
}

.main {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 30px;
	background-color: snow;
	padding: 5px 20px;
}

.main > div {
	background-color: snow;
	text-align: center;
	font-size: 30px;
}

.menuBoczne {
	display: block;
	background-color: SeaGreen;
	color: white;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 3px;
	font-size: 20px;
	padding: 3px;
}

.mn2 {
	grid-column: 5;
	grid-row: 2;	
	text-align: center;
}
.samochody {
	font-size: 17px;
	margin: 0;
	padding: 0;
}

.mn3 {
	grid-column: 2 / span 8;
	grid-row: 3 / span 7;
	border-style: solid;
	border-width: 3px;	
}

.samochody {
	font-size: 20px;
}


table, td, th {
	border: 1px solid SeaGreen;
	font-size: 15px;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: 15px;
}

th {
	height: 50px;
	padding: 0px;
  	background-color: Gainsboro;
}

.kolMarka {
	width: 25%;
}
.kolModel {
	width: 25%;
}
.kolNumer {
	width: 25%;
}
.kolAkcja {
	width: 25%;
}

a.btn {
	text-decoration:none;
	/* border: solid 1px; */
	/* border-radius: 2px; */
	cursor: pointer;
	color: SeaGreen;
	font-size:28px;
	margin: 0px 2px 0px 2px;
}

a.btn :hover {
	color: black;
}

#delete {
	text-decoration:none;
	/* border: solid 1px; */
	/* border-radius: 2px; */
	cursor: pointer;
	color: SeaGreen;
	font-size:28px;
	margin: 0px 2px 0px 2px;	
	outline: none;
	border:none;
}
#delete:hover {
	color: black;
}

.mn4 {
	grid-column: 5;
	grid-row: 10;	
}
.iloscNaTablicy {
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.mn5 {
	grid-column: 4 / span 7;
	grid-row: 11;	
	padding: 0 auto;
	margin: 0;
}
.tbuttons {
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 30px;
	padding: 0;
}

.footer {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 10px;
	background-color: SeaGreen;
	padding: 5px;
}


.footer > div {
	text-align: left;
	background-color: SeaGreen;
}

.foot1 {
	grid-column: 1;
	grid-row: 1;
	text-decoration: none;
}


.foot {
	text-decoration: none;
	background-color: SeaGreen;
	color: white;
	display: inline-block;
	text-align: left;
	margin: 0 auto;
	padding: 5px 90px 5px 90px;
}

a.hwbutton {
	background-color: Gainsboro;
	color: black;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;
	padding: 5px;
}

a.hwbutton:hover, ul a.hwbutton:active {
	background-color:gray;
}